@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Cera-Pro';
  src: local('Cera-Pro'), url(../font/Fontspring-DEMO-cerapro-medium.otf) format('otf');
}
@font-face {
  font-family: 'SF-Pro';
  src: local('SF-Pro'), url(../font/SFPRODISPLAYBOLD.OTF) format('otf');
}

#root {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.theme-switch {
  display: inline-block;
  height: 27px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 20px;
  left: 3px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #6359c9;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media screen and (max-width: 1023px) {

  .sidebar--show {
    transform: translateX(0%);
    transition: transform 0.5s ease-out;
  }

  .sidebar--close {
    transform: translateX(-100%);
    transition: transform 0.5s ease-out;
  }
}

.dark {
  transition: all 0.10s ease-out;
}

.dashboard_layout {
  display: grid;
  grid-template-columns: 1fr 30%;
}