@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Cera-Pro';
  src: local('Cera-Pro'), url(../font/Fontspring-DEMO-cerapro-medium.otf) format('otf');
}
@font-face {
  font-family: 'SF-Pro';
  src: local('SF-Pro'), url(../font/SFPRODISPLAYBOLD.OTF) format('otf');
}

#root {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}